@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root{
    --Purple: hsl(259, 100%, 65%);
    --Lightred: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%);
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Lightgrey);
}
.card{
    background-color: var(--White);
    width: 600px;
    border-radius: 1rem 1rem 10rem 1rem;
}
.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
.form__container{
    display: flex;
    gap: 2rem;
}
.block{
    display: flex;
    flex-direction: column;
}
.block label{
    text-transform: uppercase;
    font-weight: 600;
}
input{
    width: 100px;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--Lightgrey);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
input::placeholder{
    font-size: 1.5rem;
    font-weight: 800;
}
input:hover, 
input:focus-visible,
input:active{
    border-color: var(--Purple);
    caret-color: var(--Purple);
    outline: none;
    cursor: pointer;
}
.submit__block{
    display: flex;
    align-items: center;
}
.submit__block hr{
    width: 100%;
}
.submit__block .submit__button{
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--Purple);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit__button:hover{
    background-color: var(--Offblack);
    cursor: pointer;
}
.output h1{
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
    height: fit-content;
}
.output span{
    color: var(--Purple);
    margin-right: .3125rem;
}
small{
    color: red;
}

@media (max-width:600px) {
    .card{
        width: 360px;
    }
    .container{
        padding: 1rem;
    }
    .form__container{
        margin-bottom: 5rem;
        gap: 0;
        justify-content: space-between;
    }
    .submit__block{
        position: relative;
    }
    .submit__button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .output{
        margin-top: 5rem;
    }
    .output h1{
        font-size: 3.5rem;
    }
}